
<div fxLayout='column' class="container">

  <div fxFlex="100%" [fxLayout]="direction" class="innerContainer">

    <div fxFlex="30%" class="chart01">
    <ngx-charts-pie-chart
      [view]="view2"
      [scheme]="colorScheme2"
      [results]="single"
      [legend]="showLegend"
      [explodeSlices]="explodeSlices"
      [labels]="showLabels"
      [doughnut]="doughnut"
      [gradient]="gradient"
      (select)="onSelect($event)">
    </ngx-charts-pie-chart>
      </div>

    <div fxFlex="40%" class="chart02">
    <ngx-charts-advanced-pie-chart
      [view]="view"
      [scheme]="colorScheme1"
      [customColors]="customColors"      
      [results]="single"
      [gradient]="gradient"
      (select)="onSelect($event)">
    </ngx-charts-advanced-pie-chart>
      </div>

    <div fxFlex="30%" class="chart03">
          <div id="chart03"></div>
  </div>

  </div>

</div>