.text1 {
  color: white;
  font-weight: bold;
}

.text2 {
  color: black;
  font-weight: bold;
}

md-grid-list {
  position: relative;
  z-index: +1;
  width: 1500px;  
}

md-grid-tile {
  margin-left: 0px;
  margin-bottom: -30px;
}

.chart01 {
  font-family: 'RobotoDraft', 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 2.6rem;
  letter-spacing: 0.01rem;
  color: #212121;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  padding-top: 70px;  
  padding-left: 80px;    
}

.chart02 {
  font-family: 'RobotoDraft', 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 50%;
  line-height: 2.6rem;
  letter-spacing: 0.01rem;
  color: #212121;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  margin-top: -40px;
  margin-left: -260px;
}

#chart03 {
  width: 350px;
  height: 370px;
  padding-left: 170px;
}

.chart04 {
  width: 250px;
  height: 300px;
  padding-top: 40px;
  margin-left: -210px;
}
