* {
  box-sizing: border-box;
}

h5 {
    text-align: center;
}

.chart01 {
    display: inline-block;
    width: 280px;
}

.chart02 {
    display: inline-block;
    width: 280px;
}

.chart03 {
    display: inline-block;    
    width: 450px;
}