* {
  box-sizing: border-box;
}

h5 {
    text-align: center;
    line-height: 1.5;
    padding-bottom: 12px;
}

.chart01 {
    display: inline-block;
    padding-right: 40px;
    padding-left: 40px;
    width: 280px;
}

.chart02 {
    display: inline-block;
    padding-right: 40px;
    padding-left: 40px;  
    width: 280px;
}

.chart03 {
    display: inline-block;
    padding-right: 40px;
    padding-left: 60px;      
    width: 450px;
}