
#datatable {
  font-family: 'Roboto', sans-serif;  
  color: black;
  font-weight: normal;
}

.chart {
    width: 20%;
    float: left;
    padding-top: 20px;
    /* border-style: solid;
    border-width: thin;
    border-radius: 3px;
    border-color: darkgrey; 
    */
}
