<!-- provare ad usare router:Router per reindirizzare, anche se non istanziava -->
<!-- capire come passare 1 o piu parametri via URL o via Activated Route -->
<!-- leggere il libro -->

<div id = "annotation-component">
  <form>
    <input id="{{ colId}}.Subject " type="radio"  name="{{ colId }}.radio" value="Subject" (click)="subjectSelect()"> S
    <input id="{{ colId }}.Object" type="radio"  name="{{ colId }}.radio" value="Object" (click)="objectSelect()"> O <br>

    <div>
      <a [routerLink]="['/detail', object, entity, property, type, value]" routerLinkActive="active"> Go to detail page </a><br>
    </div>

    <div>
      <input id="{{ colId }}.Entity" placeholder="Insert here Entity"> <br>
      <div *ngIf=" object ">
        <input id="{{ colId }}.Property" placeholder="Insert here property"> <br>

        <input type="radio" name="Type" value="URL" (click)="typeURL()"> URL <br>
        <input type="radio" name="Type" value="Literal" (click)="typeLiteral()"> Literal <br>
        <input type="radio" name="Type" value="Boolean" (click)="typeBoolean()"> Boolean <br>

        <input id="{{ colId }}.Value" placeholder="Insert here value"> <br>
      </div>
      <button (click)="saveChanges(colId)"> Apply </button>
    </div>
  </form>
</div>

<!--<detailMode>

</detailMode>-->
<!--(click) ="setDetailMode(colId)"-->
