<!-- provare ad usare router:Router per reindirizzare, anche se non istanziava -->
<!-- capire come passare 1 o piu parametri via URL o via Activated Route -->
<!-- leggere il libro -->

<div id = "annotation-component">
  <form>
    <input id="{{ colId }}.Subject " type="radio"  name="{{ colId }}.radio" value="Subject" (click)="subjectSelect()"> S
    <input id="{{ colId }}.Object" type="radio"  name="{{ colId }}.radio" value="Object" (click)="objectSelect()"> O <br>

    <nav>
      <a [routerLink]="['/detail']"  (click) = "goToDetailMode()"> Go to detail page </a><br>
    </nav>

    <div>
      <input id="{{ colId }}.Type" placeholder="Insert here type" value="{{ type }}"> <br>
      <input id="{{ colId }}.TypeLabel" placeholder="Insert here type label" value="{{ typeLabel }}"> <br>

      <div *ngIf=" !isSubject ">
        <input id="{{ colId }}.Property" placeholder="Insert here property" value = "{{ property }}"> <br>
        <input id="{{ colId }}.PropertyLabel" placeholder="Insert here property label" value = "{{ propertyLabel }}"> <br>

        <input type="radio" name="dataType" value="URL" (click)="dataTypeURL()"> URL <br>
        <input type="radio" name="dataType" value="Literal" (click)="dataTypeLiteral()"> Literal <br>

        <input id="{{ colId }}.DataTypeLabel" placeholder="Insert here datatype label" value="{{ dataTypeLabel }}"> <br>

      </div>
      <button (click)="saveChanges(colId)"> Apply </button>
    </div>
  </form>
</div>

<!--<detailMode>

</detailMode>-->
<!--(click) ="setDetailMode(colId)"-->
