<div>

  <a [routerLink] = "['/home']"> Return to Annotation Mode </a> <br>

  Hello, i'm DetailMode <br>

  <input id="{{ colId }}.Subject " type="radio"  name="{{ colId }}.radio" value="Subject" (click)="subjectSelect()"> S
  <input id="{{ colId }}.Object" type="radio"  name="{{ colId }}.radio" value="Object" (click)="objectSelect()"> O <br>

  Subject : {{ isSubject }} <br>
  Type : {{ type }} <br>
  TypeLabel : {{ typeLabel}}
  <div *ngIf=" isSubject ">
    Property : {{ property }} <br>
    PropertyLabel : {{ propertyLabel }} <br>
    DataType : {{ dataType }} <br>
    DataTypeLabel : {{ dataTypeLabel }} <br>
  </div>

  <input id = "Type" placeholder="Insert Type" value="{{ type }}">
  <input id = "TypeLabel" placeholder="Insert Property Label" value="{{ typeLabel }}"> <br>

  <div *ngIf=" !isSubject ">
    <input id = "Property" placeholder="Insert Property" value="{{ property }}"> <br>
    <input id = "PropertyLabel" placeholder="Insert Property Label" value="{{ propertyLabel }}"> <br>

    <input type="radio" name="Type" value="URL" (click)="dataTypeURL()"> URL <br>
    <input type="radio" name="Type" value="Literal" (click)="dataTypeLiteral()"> Literal <br>

    <input id="DataTypeLabel" placeholder="Insert here datatype label"> <br>

  </div>

  <button (click)="saveChanges()"> Apply </button>

</div>
