
* {
  box-sizing: border-box;
}

div.datatable {
  width: 75%;
  float: right;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 30px;
}

div.sidebarImport {
  width: 25%;
  float: left;
  padding: 10px;
  padding-bottom: 10px;
  padding-right: 40px;  
}

div.sidebar {
  width: 25%;
  float: left;
  padding: 10px;
  padding-top: 30px;  
  padding-bottom: 10px;
  padding-right: 40px;  
}

div.steps {
  width: 25%;
  float: left;
  padding: 10px;
  padding-top: 60px;  
  padding-bottom: 10px;
  padding-right: 40px;  
}

div.container {
  padding: 10px;
  padding-bottom: 5px;
}

div.sidebarImportButton {
  padding: 10px;
  padding-bottom: 5px;
  display: inline-block;
}