<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="datatable">
  <datatable></datatable>    
</div>

<div class="sidebarImport">
  <sidebarImport></sidebarImport>    
</div>

<div id="container">
  <div class="sidebarImportButton">
    <button type="button" nglButton="brand" (click)="getDataRaw()">Import file</button>    
</div>

<div class="sidebarImportButton">
    <button type="button" nglButton="brand" (click)="getDataParsed()">Initialize table</button>    
</div>
</div>


<div class="chart">
  <chart></chart>    
</div>