<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="datatable">
  <datatable [profileSubset]="profileSubset" (profileSubsetEmitter)="onProfileSubsetEmitted($event)"></datatable>    
</div>

<div class="sidebarImport">
  <sidebarImport></sidebarImport>    
</div>

<div id="container">
  <div class="sidebarImportButton">
    <button type="button" nglButton="brand" (click)="getDataRaw()">Import file</button>    
</div>

<div class="sidebarImportButton">
    <button type="button" nglButton="brand" (click)="getDataParsed()">Initialize table</button>    
</div>
</div>

<div class="sidebar">
  <sidebar></sidebar>
</div>

<div id="container">
  <div class="sidebarImportButton">
    <button type="button" nglButton="brand" (click)="runTransformation()">Apply transformation step</button>    
</div>
</div>