
* {
  box-sizing: border-box;
}

div.datatable {
  width: 75%;
  float: right;
  padding-top: 40px;
  padding-left: 10px;
  padding-right: 30px;
}

div.container {
  width: 25%;
  float: left;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 40px;
}

div.sidebarImport {
  width: 100%;
  float: left;
  padding-bottom: 20px;
  padding-right: 10px;
}

div.sidebar {
  padding-top: 15px;
  padding-bottom: 20px;
  padding-right: 40px;
}

div.steps {
  padding-top: 20px;
  padding-bottom: 10px;
  padding-right: 40px;
}

div.fileSelection {
  width: 255px;
  padding-bottom: 5px;
  display: inline-block;
}

div.containerApplyTransformationButton {
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 40px;
  display: inline-block;
}

.status {
  padding-left: 30px;
  display: inline-block;
}

div.sidebarImportButton {
  padding-right: 20px;
  padding-bottom: 5px;
  display: inline-block;
}
