<div class="sidebar">

<table ngl-datatable [data]="data" trackByKey="rank" [bordered]="bordered" [striped]="striped" (onRowClick)="onRowClick($event)" class="slds-max-medium-table--stacked-horizontal">
  <ngl-datatable-column heading="Select transformation" key="transformation">
    <template nglDatatableHeading><div style="font-size: 130%; border-bottom: 1px solid lightgray; padding-bottom: 8px;"><strong>Select transformation</strong></div></template>
  </ngl-datatable-column>
</table>

</div>

<div id="container">

  <div class="dropdown">
    <ngl-form-element label="Column" [error]="hasError ? error : null" class="slds-m-top--small">
      <select nglFormControl class="slds-select" [required]="required">
      <option>-</option>
      <option>Column Two</option>
      <option>Column Three</option>
  </select>
</ngl-form-element>
  </div>

    <div class="dropdown">
    <ngl-form-element label="Function" [error]="hasError ? error : null" class="slds-m-top--small">
      <select nglFormControl class="slds-select" [required]="required">
      <option>-</option>
      <option>Function Two</option>
      <option>Function Three</option>
  </select>
</ngl-form-element>
  </div>

<div class="inputform">
    <ngl-form-element label="Input Parameter" [error]="hasError ? error : null" class="slds-m-top--small">
    <input nglFormControl type="text" placeholder="Input" [required]="required">
  </ngl-form-element>
</div>


</div>


