<rdf [data]='data' [hot]='hot' [headers]='headers' [inferredTypes]='inferredTypes' (emitter)='getEmittedRDFdata($event)'></rdf>

<div *ngIf="!tabularMode">
  <tr>
      <td *ngFor="let h of headers; let Id = index">
          {{ h }}<br>
          <annotation-form [colId]='Id' [colContent]='getDataCol(Id)' [header] = 'h'></annotation-form>
      </td>
   </tr>
</div>

<div id='tabular'>
</div>


<div class='chart' *ngIf='tabularMode'>
  <chart [chartData01]='chartData01' [chartData02]='chartData02' [chartData03]='chartData03' [statsData]='statsData'
         [profileSubset]='profileSubset' [inferredType]='inferredType'
         (profileSubsetEmitter)='onProfileSubsetEmitted($event)'></chart>
</div>
