<div *ngIf="!tabularMode">
  <tr>
      <td *ngFor="let h of headers; let Id = index" width="{{ this.colWidth(Id)}}px " >
          {{ h }}<br>
        <form>
          <input type="radio" id="{{colId}}.Subject " name="{{ colId }}.radio" value="Subject" (click)="subjectSelect()"> S
          <input type="radio" id="{{ colId }}.Object" name="{{ colId }}.radio" value="Object" (click)="objectSelect()">O <br>
          <input id="{{ colId }}.Entity" placeholder="Insert here Entity"> <br>
          <div *ngIf="this.object">
            <input id="{{ colId }}.Property" placeholder="Insert here property"> <br>
            <input id="{{ colId }}.Type" placeholder="Insert here type (URL or Literal)"> <br>
          </div>
        </form>
        <!--<annotation-form [colId] = "Id" ></annotation-form>-->

      </td>
   </tr>
</div>

<div id='tabular'>
</div>


<rdf [data]='data' [hot]='hot' [headers]='headers' [inferredTypes]='inferredTypes' (emitter)='getEmittedRDFdata($event)'></rdf>

<div class='chart' *ngIf='tabularMode'>
  <chart [chartData01]='chartData01' [chartData02]='chartData02' [chartData03]='chartData03' [statsData]='statsData' [profileSubset]='profileSubset'
    [inferredType]='inferredType' (profileSubsetEmitter)='onProfileSubsetEmitted($event)'></chart>
</div>
