<div class="steps">

<table ngl-datatable [data]="stepSequence" trackByKey="rank" [bordered]="bordered" [striped]="striped" (onRowClick)="onRowClick($event)" class="slds-max-medium-table--stacked-horizontal">
  <ngl-datatable-column heading="Steps" key="title">
    <template nglDatatableHeading><div style="font-size: 130%;"><strong>Steps</strong></div></template>
  </ngl-datatable-column>
</table>

<!--
<p-listbox [options]="transformations" [(ngModel)]="transformationSelected" [style]="{'width':'330px','max-height':'200px'}"></p-listbox>
-->

</div>